<header class="header">
<div class="container">
<nav class="menu">
<ul class="menu__list">
<li class="menu__item">
<a href="#" class="menu__link">Home</a>
</li>
<li class="menu__item">
<a href="/locations" class="menu__link">Locations</a>
</li>
<li class="menu__item">
<a href="/episodes" class="menu__link">Episodes</a>
</li>
<li class="menu__item">
<a href="characters" class="menu__link">Characters</a>
</li>
<li class="menu__item menu__item_contact">
<a routerLink="contact" class="menu__link">Contact</a>
</li>
</ul>
</nav>
</div>
</header>
<main class="main">
<!-- Here should be page content -->
</main>
<footer class="footer">&copy 2023 All rights reserved</footer>

