<div class="home">
  <div class="container">
    <h1>Welcome to the Frontend code challenge!</h1>
    <p>This is an Angular application that is going to use API <a href="https://rickandmortyapi.com/" target="_blank">https://rickandmortyapi.com/</a> to show information about characters, places and episodes of the television show <a href="https://www.adultswim.com/videos/rick-and-morty" target="_blank">Rick and Morty</a>.</p>
    <p>Your tasks will be:</p>
    <ul>
      <li>explore the project</li>
      <li>review the current code</li>
      <li>make suggestions about improvements</li>
    </ul>

    <p><strong>Tipps:</strong></p>
    <ul>
      <li>don't hesitate to ask any questions</li>
      <li>think out loudly</li>
      <li>don't feel pressure or stress - review, like a coding, shall be a creative process</li>
    </ul>

    <p class="happy-coding">Happy review ☕</p>
  </div>
</div>
